<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1 class="greeting">Welcome to the Website!</h1>
    <p class="choose-p">Please choose an option:</p>
    <div class="login-and-register-container">
        <a class="login-link" href="/login"><button class="login-button">Login</button></a>
        <a class="register-link" href="/register"><button class="register-button">Register</button></a>
    </div>
</body>
</html>
