<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Movie Recommendation System</h1>
        <input type="text" id="movieTitle" placeholder="Enter a movie title">
        <button onclick="getRecommendations()">Get Recommendations</button>
        <ul id="recommendations"></ul>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
